<!doctype html>
<html ng-app="morning-raid">
<head>
<title>Morning Raid</title>
<script src="bower_components/angular/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/styles.css"/>

</head>

<body>
<div id="banner" ng-controller="CurrentRide">
  <h1>Morning Raid</h1>
  <h2>7:15 @ Goldsworthy</h2>
  <img src="{{ profile }}">
  <br>
  <h3>
    <rideStatus>
    <button ng-click="start()">Start Raid</button>
  </h3>
</div>
<div id="state">
  <h6>email@gmail.com</h6>
</div>
<div id="key">
  <div id="rides" ng-controller="Rides">
    <h1>Ride log</h1>
    <ul>
      <!-- RIDE  Distances, Time since ride, avatars -->
      <li ng-repeat="ride in schedule">
      <h2>## @ ## mph</h2>
      <h3>+/ {{ ride.date }}</h3>
      <h4>
        <img src="http://www.daygame.com/site/wp-content/uploads/2013/07/male-silhouette.jpg"><img src="http://www.daygame.com/site/wp-content/uploads/2013/07/male-silhouette.jpg"><img src="http://www.daygame.com/site/wp-content/uploads/2013/07/male-silhouette.jpg">
      </h4>
      </li>
    </ul>
  </div>
  <div id="leaderboard" ng-controller="Leaderboard">
    <h1>Leaderboard</h1>
    <ul>
      <li ng-repeat="person in riders">{{ person.name }}</li>
    </ul>
  </div>
</div>
<script>
document.write('<script src=js/vendor/'
               + ('__proto__' in {} ? 'zepto' : 'jquery')
               + '.js><\/script>');
</script>
<script src="bower_components/jquery/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>
