<!doctype html>
<html>
    <head>
    <title>Morning Raid</title>
    <link href="/css/styles.css" media="all" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div id="banner">
      <h1>Morning Raid</h1>
      <h2>7:15 @ Goldsworthy<h2>
      <img src="https://a248.e.akamai.net/camo.github.com/8dcafcfa097bbbd020552074b67bf4725e3ed82c/687474703a2f2f662e636c2e6c792f6974656d732f337431523244313232623233307a3333324e306e2f656c65766174696f6e2d737061726b2e706e67"><br>
      <h3>
        <button>Start Raid</button>
      </h3>
    </div>

    <div id="rides">
      <h1>Ride log</h1>
      <ul>
        <!-- RIDE  Distances, Time since ride, avatars -->
        <li>
          <h2>## @ ## mph</h2>
          <h3>+/ time</h3>
          <h4>
            <img src="http://www.daygame.com/site/wp-content/uploads/2013/07/male-silhouette.jpg"><img src="http://www.daygame.com/site/wp-content/uploads/2013/07/male-silhouette.jpg"><img src="http://www.daygame.com/site/wp-content/uploads/2013/07/male-silhouette.jpg">
          </h4>
        </li>
        <li>
          <h2>## @ ## mph</h2>
          <h3>+/ time</h3>
          <h4>
            <span><img src="http://www.daygame.com/site/wp-content/uploads/2013/07/male-silhouette.jpg"><img src="http://www.daygame.com/site/wp-content/uploads/2013/07/male-silhouette.jpg">
          </h4>
        </li>
        <li>
          <h2>## @ ## mph</h2>
          <h3>+/ time</h3>
          <h4>
            <span><img src="http://www.daygame.com/site/wp-content/uploads/2013/07/male-silhouette.jpg"><img src="http://www.daygame.com/site/wp-content/uploads/2013/07/male-silhouette.jpg"><img src="http://www.daygame.com/site/wp-content/uploads/2013/07/male-silhouette.jpg">
          </h4>
          </li>
        </ul>
    </div>  
    <div id="leaderboard">
      <h1>Leaderboard</h1>
      <ul>
        <li>Leader</li>
        <li>Leader</li>
        <li>Leader</li>
      </ul>

    </div>
  </body>
</html>
